{:type :invoke, :f :read, :value nil, :time 219452673, :process 0, :index 0}
{:type :ok, :f :read, :value nil, :time 265966803, :process 0, :index 1}
{:type :invoke, :f :read, :value nil, :time 1857656502, :process 0, :index 2}
{:type :ok, :f :read, :value nil, :time 1862982131, :process 0, :index 3}
{:type :invoke, :f :cas, :value [1 4], :time 3054725745, :process 0, :index 4}
{:type :fail, :f :cas, :value [1 4], :time 3065894455, :process 0, :error :not-found, :index 5}
{:type :invoke, :f :write, :value 0, :time 3550199592, :process 0, :index 6}
{:type :ok, :f :write, :value 0, :time 3556126243, :process 0, :index 7}
{:type :invoke, :f :read, :value nil, :time 4025341153, :process 0, :index 8}
{:type :ok, :f :read, :value 0, :time 4031047634, :process 0, :index 9}
{:type :info, :f :start, :time 5220144137, :process :nemesis, :index 10}
{:type :info, :f :start, :time 5230254855, :process :nemesis, :value [:isolated {"localhost" #{}}], :index 11}
{:type :invoke, :f :read, :value nil, :time 5845156736, :process 0, :index 12}
{:type :ok, :f :read, :value 0, :time 5850093107, :process 0, :index 13}
{:type :invoke, :f :write, :value 1, :time 7074047896, :process 0, :index 14}
{:type :ok, :f :write, :value 1, :time 7079465952, :process 0, :index 15}
{:type :invoke, :f :read, :value nil, :time 8670464329, :process 0, :index 16}
{:type :ok, :f :read, :value 1, :time 8675185427, :process 0, :index 17}
{:type :invoke, :f :write, :value 2, :time 10175254674, :process 0, :index 18}
{:type :ok, :f :write, :value 2, :time 10180872766, :process 0, :index 19}
{:type :info, :f :stop, :time 10236522351, :process :nemesis, :index 20}
{:type :info, :f :stop, :time 10441210319, :process :nemesis, :value :network-healed, :index 21}
{:type :invoke, :f :write, :value 1, :time 11438746021, :process 0, :index 22}
{:type :ok, :f :write, :value 1, :time 11444029911, :process 0, :index 23}
{:type :invoke, :f :cas, :value [1 0], :time 12003858823, :process 0, :index 24}
{:type :ok, :f :cas, :value [1 0], :time 12009192048, :process 0, :index 25}
{:type :invoke, :f :read, :value nil, :time 12709930438, :process 0, :index 26}
{:type :ok, :f :read, :value 0, :time 12714749162, :process 0, :index 27}
{:type :invoke, :f :read, :value nil, :time 13683333172, :process 0, :index 28}
{:type :ok, :f :read, :value 0, :time 13688007677, :process 0, :index 29}
{:type :invoke, :f :read, :value nil, :time 14249926684, :process 0, :index 30}
{:type :ok, :f :read, :value 0, :time 14254746714, :process 0, :index 31}
{:type :invoke, :f :write, :value 2, :time 15071866685, :process 0, :index 32}
{:type :ok, :f :write, :value 2, :time 15077152056, :process 0, :index 33}
{:type :info, :f :start, :time 15442390503, :process :nemesis, :index 34}
{:type :info, :f :start, :time 15444914500, :process :nemesis, :value [:isolated {"localhost" #{}}], :index 35}
{:type :invoke, :f :write, :value 3, :time 16107416570, :process 0, :index 36}
{:type :ok, :f :write, :value 3, :time 16114110363, :process 0, :index 37}
{:type :invoke, :f :write, :value 1, :time 17131409264, :process 0, :index 38}
{:type :ok, :f :write, :value 1, :time 17136541467, :process 0, :index 39}
{:type :invoke, :f :read, :value nil, :time 17221236217, :process 0, :index 40}
{:type :ok, :f :read, :value 1, :time 17225972248, :process 0, :index 41}
{:type :invoke, :f :cas, :value [4 3], :time 18868109439, :process 0, :index 42}
{:type :fail, :f :cas, :value [4 3], :time 18874317092, :process 0, :index 43}
{:type :invoke, :f :read, :value nil, :time 20037249886, :process 0, :index 44}
{:type :ok, :f :read, :value 1, :time 20041838259, :process 0, :index 45}
{:type :info, :f :stop, :time 20445896383, :process :nemesis, :index 46}
{:type :info, :f :stop, :time 20650813350, :process :nemesis, :value :network-healed, :index 47}
{:type :invoke, :f :write, :value 2, :time 21455426744, :process 0, :index 48}
{:type :ok, :f :write, :value 2, :time 21460256152, :process 0, :index 49}
{:type :invoke, :f :write, :value 1, :time 22618199585, :process 0, :index 50}
{:type :ok, :f :write, :value 1, :time 22623233027, :process 0, :index 51}
{:type :invoke, :f :read, :value nil, :time 23688060363, :process 0, :index 52}
{:type :ok, :f :read, :value 1, :time 23692881164, :process 0, :index 53}
{:type :invoke, :f :cas, :value [1 2], :time 25446519008, :process 0, :index 54}
{:type :ok, :f :cas, :value [1 2], :time 25451506998, :process 0, :index 55}
{:type :info, :f :start, :time 25652080015, :process :nemesis, :index 56}
{:type :info, :f :start, :time 25654361914, :process :nemesis, :value [:isolated {"localhost" #{}}], :index 57}
{:type :invoke, :f :write, :value 2, :time 27072820392, :process 0, :index 58}
{:type :ok, :f :write, :value 2, :time 27077221830, :process 0, :index 59}
{:type :invoke, :f :cas, :value [1 3], :time 27095425246, :process 0, :index 60}
{:type :fail, :f :cas, :value [1 3], :time 27101212548, :process 0, :index 61}
{:type :invoke, :f :read, :value nil, :time 27145924126, :process 0, :index 62}
{:type :ok, :f :read, :value 2, :time 27150590608, :process 0, :index 63}
{:type :invoke, :f :read, :value nil, :time 28425661322, :process 0, :index 64}
{:type :ok, :f :read, :value 2, :time 28430073915, :process 0, :index 65}
{:type :invoke, :f :cas, :value [0 0], :time 29563914480, :process 0, :index 66}
{:type :fail, :f :cas, :value [0 0], :time 29569514943, :process 0, :index 67}
{:type :invoke, :f :read, :value nil, :time 29751975777, :process 0, :index 68}
{:type :ok, :f :read, :value 2, :time 29756202430, :process 0, :index 69}
{:type :invoke, :f :read, :value nil, :time 30013822671, :process 0, :index 70}
{:type :ok, :f :read, :value 2, :time 30018131690, :process 0, :index 71}
